<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add categories</title>
</head>

<body>
    <div class="container">
        <h2>Add concert</h2>
        <form th:action="@{/addconcert}" method="post" th:object="${concert}">

            <div>
                <label>Artist:</label>
                <select th:field="*{artist}">
                    <option th:each="artist: ${artists}" th:value="${artist.id}"
                        th:text="${artist.name}"></option>
                </select>
            </div>

            <div>
                <label>Venue:</label>
                <select th:field="*{venue}">
                    <option th:each="venue: ${venues}" th:value="${venue.id}"
                     th:text="${venue.name}"></option>
                </select>
            </div>

            <div>
                <label>Date:</label>
                <input type="date" name="date" required />
            </div>
            <br>
            <button type="submit">Save</button>
        </form>

        <a th:href="@{/concertlist}">Back to concert list</a>

    </div>
    </div>
</body>

</html>