<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Concerts</title>
</head>
<body>
    <h1>Concerts</h1>

    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign out" class="btn btn-sm btn-danger"/>
    </form>

    <table>
        <thead>
            <tr>
                <th>Artist</th>
                <th>Date</th>
                <th>Location</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="concert : ${concerts}">
                <td th:text="${concert.artist.name}">Artist name</td>
                <td th:text="${concert.date}">Date</td>
                <td th:text="${concert.venue.name}">Venue</td>
                <td>
                    <a th:href="@{/edit/{id}(id=${concert.id})}">Edit</a>
                </td>
                <td>
                    <a th:href="@{/addconcert}">Add</a>
                </td>
            </tr>
        </tbody>
    </table>
    
</body>
</html>